/*general*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    background-color: azure;
}

/*header*/

header {
    background-color: white;
}
.logo {
    padding: 1rem;
    
    
}

img {
    vertical-align: middle;
}

span {
    font-size: 3rem;
    vertical-align: middle;
    font-weight: bold;
}

/*main*/

.site_main {
    background-color: white;
    margin-left: 3rem;
}
.button1 {
    text-align: center;
}

